@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-lg navbar-dark color">
        <div class="container-xxl">
            <a class="navbar-brand col-md-5" href="/">
                <img src="/img/logo.png" height="30" />
            </a>
                <div class="navbar-nav flex-row flex-wrap ms-md-auto d-none d-sm-block d-md-block">
@*             <form class="d-flex ">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> *@
            </div>
                <button class="navbar-toggler p-2 ml-auto" @onclick="ToggleAside" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-label="Toggle docs navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
                <span class="d-none fs-6 pe-1">Browse</span>
            </button>
            <aside id="aside" class="@(isAsideHidden ? "bd-sidebar d-none" : "bd-sidebar d-show")">
                <div class="offcanvas-lg offcanvas-start show" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel" aria-modal="true" role="dialog">
                    <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
                    </div>
                    <div class="offcanvas-body">
                        <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Docs navigation">
                        </nav>
                    </div>
                </div>
                <div class="offcanvas-backdrop fade show"></div>
            </aside>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-md-end">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/movies/auto" Match="NavLinkMatch.All">Projects</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/movies/auto" Match="NavLinkMatch.All">Initiate</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/movies/auto" Match="NavLinkMatch.All">Ideas</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/movies/auto" Match="NavLinkMatch.All">About us</NavLink>
                    </li>
                </ul>
            </div>
            <div>
                </div>
            </div>
    </nav>
</header>

<main class="container-fluid py-3 color">
    @Body
</main>

<footer class="footer container-fluid py-3">
    <div class="px-3">
        <div class="row row-cols-1 row-cols-lg-3 align-items-center gy-2">
            <div class="col text-center text-lg-start">
                <img src="/img/BlazorMovieorg.png" height="50"/>
                &copy; 2023 Coder Foundry
            </div>
            <div class="col text-center">
                <div><img src="/img/THEMOVEDBLogo.svg" height="25"/></div>
                <div>This product uses the TMDB API but is not endorsed or certified by TMDB.</div>
            </div>
            <div class="col text-center text-lg-end">
                <a href="https://rb.gy/3d3ov"><i class="socialicons bi bi-youtube"></i></a>
                <a href="https://github.com/CoderFoundry"><i class="socialicons bi bi-github"></i></a>
                <a href="#"><i class="socialicons bi bi-twitter"></i></a>                
            </div>
        </div>
    </div>
</footer>

@code{
    public bool isAsideHidden = true;

    private void ToggleAside()
    {
        isAsideHidden = !isAsideHidden;
        StateHasChanged();
        Console.WriteLine("chuj");
    }
}

@*             <div class="d-inline-flex p-2">
                <a class="navbar-brand" href="/myaccount">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="2000.000000pt" height="176.000000pt" viewBox="0 0 2000.000000 176.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,176.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
</g>
</svg>
                </a>
                <a class="navbar-brand" href="/shopping-bag">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="M240-80q-33 0-56.5-23.5T160-160v-480q0-33 23.5-56.5T240-720h80q0-66 47-113t113-47q66 0 113 47t47 113h80q33 0 56.5 23.5T800-640v480q0 33-23.5 56.5T720-80H240Zm0-80h480v-480h-80v80q0 17-11.5 28.5T600-520q-17 0-28.5-11.5T560-560v-80H400v80q0 17-11.5 28.5T360-520q-17 0-28.5-11.5T320-560v-80h-80v480Zm160-560h160q0-33-23.5-56.5T480-800q-33 0-56.5 23.5T400-720ZM240-160v-480 480Z" />
                    </svg>
                </a>
                </div> *@